/*---------------------------------------- OTROS --------------------------------------*/

#wrap {
	margin: 0 auto;
	width: 780px;
	background: #fff;
}

/*CAKE*/
/*
table .altrow td {
	background: #f5f5f5;
}

dl .altrow {
	background: #f4f4f4;
}
*/