/*---------------------------------------- LINKS --------------------------------------*/

div.links A:link {
	color: #FFF; text-decoration: none; 
}

div.links A:hover {
	color: #B5C4E3; text-decoration: none; 
}

div.links A:visited {
	color: #B5C4E3; text-decoration: none; 
}

div.links A:active {
	color: #B5C4E3; text-decoration: none; 
}