/*---------------------------------------- MENSAJES --------------------------------------*/

.mensajeinfo {
	color: green;
	font-weight: bold; 
	/*font-size: 19px;
	color: #000099;
	padding: 5px 0 0 20px;
	letter-spacing: -1px;
	font-weight: 100;*/
}

.mensajeadvertencia {
	color: yellow;
	font-weight: bold; 
	/*font-size: 19px;
	color: #000099;
	padding: 5px 0 0 20px;
	letter-spacing: -1px;
	font-weight: 100;*/
}

.mensajeerror {
	color: red;
	font-weight: bold; 
	/*font-size: 19px;
	color: #000099;
	padding: 5px 0 0 20px;
	letter-spacing: -1px;
	font-weight: 100;*/
}

.divmensajegeneral {
	/*ESTA PARTE ESTABA HABILITADO*/
	/*
	background:yellow;
	color: blue;
	font-weight: bold; 
	*/
	
	/*font-size: 19px;
	color: #000099;
	padding: 5px 0 0 20px;
	letter-spacing: -1px;
	font-weight: 100;*/
}